<% include partials/header %>
<div class="home">
	<div class="container">
		<div class="text-center">
			<h3>Welcome to</h3>
			<h1>YelpCamp</h1>
			<a class="btn btn-success btn-lg" href="/campgrounds">View All Campgrounds</a>
		</div>
	</div>
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<% include partials/footer %>